#adpmain{
  margin:10px auto;
  width: 1200px;
  border:1px solid #eee;
  padding:10px;
}

.fa-exclamation-circle{
  color: #1daee9;
  cursor: pointer;
}

.fa-toggle-on{
  color: green;
  cursor: pointer;
}

.fa-toggle-off{
  color: red;
  cursor: pointer;
}

/*checkbox style*/
.pidselect{
  display: none;
}

.pidselect+label>.fa-toggle-on{
  display:none;
}

.pidselect:checked+label>.fa-toggle-off{
  display:none;
}

.pidselect:checked+label>.fa-toggle-on{
  display:inline !important;
}
/*checkbox style end*/

#maincontent{
  padding: 10px;
  background-color: #FFF;
  margin-left: 250px;
  min-height: 717px;
}

#autoreload,#preference,#pagmanage,#tagmanagepanel,#jssdkmanagepanel,.mainmanagepanel{
    background-color: #F5F5F5;
}

.menushow,.navshow{
  display: block !important;
}

.externalpage,.pushmessage,.textmessage,.none,.navhide,.locationmessage,#welcomemessage,#tagkeyslist,#editjssdk,#editpage,#addtagdiv,#defaultmessage,#changepwd,#usermanage,#addjssdk,#addpage,#jssdklist,#pagelist,#taglist{
  display: none;
}

#welcomemessage,#defaultmessage,#changepwd,#usermanage,.navhide,#addjssdk,#addpage,#tagkeyslist,#editjssdk,#editpage,#addtagdiv,#jssdklist,#pagelist,#taglist,#maincontent{
  background-color: #FFF;
  padding:20px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.fa-edit,.fa-plus-circle{
  color: green;
}

.fa-edit:hover,.fa-plus-circle:hover{
  color: #3F6E3F;
  cursor: pointer;
}

.fa-trash-o,.fa-times,.fa-minus-circle,.fa-mail-reply{
  color:red;
}

.fa-trash-o:hover,.fa-times:hover,.fa-minus-circle:hover,.fa-mail-reply:hover{
  color:#933030;
  cursor: pointer;
}

/*warningpopup*/
#warningpopup{
  top:10px;
  right:20%;
  position:fixed;
  z-index: 1055;
}
/*warningpopup end*/
.warningbox {
  width: 100%;
  border-radius: 3px;
  text-align: center;
  color: white;
  padding: 15px 15px;
  font-size: 14px;
  font-family: 'Open Sans';
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #D66882;
}
/*comfirmpopup*/
#comfirmpopup{
  top:0px;
  width:100%;
  height:100%;
  position:fixed;
  background-color:rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1054;
}

.comfirmpopup{
  position:fixed;
  top:25%;
  width:30%;
  left:35%;
  background-color: #f8f8f7;
  box-shadow: 0px 0px 5px #f8f8f7;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.comfirmpopup>div{
	width:100%;
	display: block;
	font-size: 120%;
	text-align: center;
	padding:0px;
}

.comfirmpopup>div:nth-child(1){
	padding-top:10px;
	position: relative;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
  padding-bottom: 30px;
}
/*comfirmpopup end*/

#loadingpopup{
  top:0px;
  width:100%;
  height:100%;
  position:fixed;
  background-color:rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1058;
}

#loadingpopup>.loadingpopup{
  position:fixed;
  top:40%;
  left:48%;
  text-align: center;
}

.loadingpopup>.fa-spinner{
  font-size: 300%;
  color:#428bca;
}

.fa-minus-square,.fa-plus-square{
  cursor:pointer;
}

#myprogress{
  top:0px;
  width:100%;
  height:100%;
  position:fixed;
  background-color:rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1059;
}

#myprogress>.progress{
  position:fixed;
  top:25%;
  width:30%;
  height: 50px;
  left:35%;
  background-color: #f8f8f7;
  box-shadow: 0px 0px 5px #f8f8f7;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.newscard{
  width:310px;
  height: 400px;
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #bbb;
  border-radius: 3px;
}

::-webkit-scrollbar{width:3px;}

.newscard>div:nth-child(1){
  width: 100%;
  height:350px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.newscard>div:nth-child(1)>div{
  /*width: 300px;*/
  width:100%;
  border: 1px solid #ddd;
  margin-left: 5px;
}

.newscard>div:nth-child(2){
  margin-top: 5px;
  text-align: center;
}

.newscard ul{
  margin:0px;
  padding: 0px;
  list-style:none;
}

.newscard ul>li{
  width: 100%;
  height: 100px;
  position: relative;
}

.newscard ul>li:nth-child(1){
  width: 100%;
  height: 160px;
  position: relative;
}

.newscard ul>li:nth-child(1)>a{
  display: none;
}

.newscard ul>li:nth-child(1):hover>a{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100px;
  background-color: rgba(51, 51, 51, 0.30);
  text-decoration: none;
  color:#fff;
  text-align: center;
  padding-top: 25%;
  display: block;
}

.newscard ul>li:nth-child(1)>p{
  width: 100%;
  max-height: 40px;
  color: #FFF;
  bottom: 0px;
  position:absolute;
  overflow:hidden;
  padding-left: 3px;
  padding-top: 3px;
  padding-right: 3px;
  margin-bottom: 0px;
  background-color: rgba(51, 51, 51, 0.48);
}

.newscard ul>li:nth-child(1)~li>a{
  display: none;
}

.newscard ul>li:nth-child(1)~li:hover>a{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100px;
  background-color: rgba(51, 51, 51, 0.30);
  text-decoration: none;
  color:#fff;
  text-align: center;
  padding-top: 30px;
  display: block;
}

.newscard ul>li:nth-child(1)~li>p{
  top: 30px;
  left: 10px;
  width: 200px;
  max-height: 40px;
  float:left;
  position: relative;
}

.newscard ul>li:nth-child(1)~li>img{
  top: 10px;
  width: 80px;
  height: 80px;
  position: relative;
  float: right;
  right: 10px;
}

.autoclosediv{
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  position:fixed;
  background-color:rgba(0, 0, 0, 0.8);
  /*display: none;*/
  z-index: 1058;
}

.autoclosediv>div{
  /*position:fixed;
  top:40%;
  left:48%;*/
  margin: 20% auto;
  background-color: #FFF;
  text-align: center;
  border-radius: 4px;
  width: 600px;
  height:300px
}

.t-center{
  text-align: center;
}


.oauthcss{
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navactive{
  background-color: #eee;
}
